h1{
    position: absolute;
    top: 60%;
    left: 10%;
}

h2{
    position: absolute;
    top: 75%;
    left: 10%;
}

h3{
    position: absolute;
    top: 66%;
    left: 10%;
}

img {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 255px 0px;
    height: 20% ;
}
.return{
    font-weight: bold;
    border: none;
    font-size: 30px;
    color: white;
    text-decoration: none;
    left: 10%;
}

.clear{
    position: absolute;
    font-weight: bold;
    border: none;
    border-radius: 10%;
    font-size: 30px;
    color: white;
    background-color: orange;
    text-decoration: none;
    left: 75%;
    top: 40%;
}

.delete{
    position: absolute;
    font-weight: bold;
    border: none;
    border-radius: 10%;
    font-size: 30px;
    color: white;
    background-color: grey;
    text-decoration: none;
    left: 75%;
    top: 40%;
}

.video-container{
    position: absolute;
    left: 10%;
}

.grade{
    position:absolute;
    top: 55%;
    left: 10%;
    font-size: 24px;
    background-color: aqua;
    text-decoration: none;
}